
.card {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  width: 300px;
  height: 120px;
  border: solid ;
  text-align: left;
  border-color: aqua;
  border-radius: 10px;
  background-color: white;
}
.card:hover{
  background-color: whitesmoke;
}
.card:active{
  background-color: blanchedalmond;
}
.border {
  
  border-width: 1px 10px 1px 10px; /* 太さ */
  border-style: solid; /* 線種 */
  border-color: aqua; 
  border-radius: 30px;

}
.where{
  padding-top: 5px;
  width: 200px;
  float: left;
}
.right-where{
  width: 30px;
  float: right;
}

