body {
  /* background-color: #FFC599; */
  font-family: 'Roboto', 'Noto Sans JP' , sans-serif;
}

header {
  background-color: white;
  color: #ff8c33;
  font: 32px Roboto, normal, normal;
  height: 80px;
  line-height: 28px;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  position : relative;
}
