.front {
  /*親要素*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 360px;
  background-color: white;
}
.back {
  height: 570px;
  width: 360px;
  background-color: FF8C33;
}
.into {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40px;
  border-radius: 25px;
  height: 500px;
  width: 290px;
  background-color: white;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position : relative;
  top: 50px;
}
.textbox{
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.textbg{
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #4CC4FF;
  background-color:  white;
  border-radius: 25px;
}
.textbg::hover{
  animation: bg-color 0.4s alternate-reverse;
  -webkit-animation: bg-color 0.4s alternate-reverse;
}

@-webkit-keyframes bg-color {
  0% { background-color: #ccc; }
  100% { background-color: #bbb; }
}
@keyframes bg-color {
  0% { background-color: #ccc; }
  100% { background-color: #bbb; }
}