.front {
  /*親要素*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 360px;
  background-color: white;
  font-size: 28;
}
.back {
  height: 560px;
  width: 360px;
  background-color: #FF8C33;
}
.into {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
  border-radius: 25px;
  height: 500px;
  width: 290px;
  background-color: white;
}
.login {
  display: flex;
  justify-content: center; 
  align-items: center;
  position : relative;
  top: 50px;
  font-size: 28;
}
.textbox{
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.textbg1{
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #4CC4FF;
  background-color:  white;
  border-radius: 25px;
}
.textbg2{
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #4CC4FF;
  background-color:  white;
  border-radius: 25px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 49.5%;/*rem算出をしやすくするために*/
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.9;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center; 
  
}
a.btn-border-shadow--radius {
  border-radius: 70vh;
}
a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  width: 50%;
  background: #FF8C33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #4CC4FF;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
a.btn-border-shadow--radius:before {
  border-radius: 70vh;
}
a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}
a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}
.textbg::hover{
  animation: bg-color 0.4s alternate-reverse;
  -webkit-animation: bg-color 0.4s alternate-reverse;
}

@-webkit-keyframes bg-color {
  0% { background-color: #ccc; }
  100% { background-color: #bbb; }
}
@keyframes bg-color {
  0% { background-color: #ccc; }
  100% { background-color: #bbb; }
}